tariff_xsdShema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Tariff">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tariffs" minOccurs="2" maxOccurs="unbounded" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="operator" type="xs:string" />
                            <xs:element name="payroll" type="xs:short" />
                            <xs:element name="call_prices">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="withinNetwork" type="xs:float"/>
                                        <xs:element name="outsideNetwork" type="xs:float"/>
                                        <xs:element name="fixedPhone" type="xs:float"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="sms_price" type="xs:float" />
                            <xs:element name="parameters" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="favoriteNumber" type="xs:float"/>
                                        <xs:element name="tariffication" type="xs:string"/>
                                        <xs:element name="paymentConnection" type="xs:byte"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>

                        <xs:attribute name="tariffName"
                                      type="xs:string"
                                      use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>